<div class="col-lg-6 mx-lg-auto">
  <div class="card shadow">
    <div class="card-header">
      <h2 class="card-title text-center">Create New Hospital</h2>
    </div>
    <div class="card-body">
    
      <%= form_for @hospital do |f| %>
        <% if @hospital.errors.any? %>
          <h2> Errors </h2>
          <ul>
          <% @hospital.errors.full_messages.each do |message| %>
            <li> <%= message %></li>
            <% end %>
          </ul>
          <% end %>
         <div class="form-group mb-2">
             <%= f.label :name %>
             <%= f.text_field :name, autofocus: true , class: "form-control form-control-lg" %>
        </div>
        

         <div class="form-group mb-2">
             <%= f.label :city %>
            <%= f.text_area :city, class: "form-control form-control-lg" %>
        </div>

          <div class="form-group mb-2">
             <%= f.label :address %>
            <%= f.text_area :address, class: "form-control form-control-lg" %>
        </div>

        <div class="actions">
            <%= f.submit "Add Hospital" , class: "btn btn-lg btn-primary" %>
        </div>
    <% end %>

    </div>
     </div>
      </div>








